<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
      <p>name</p>
      <%= f.text_field :name %>
      <p>image</p>  
      <%= f.attachment_field :post_image %>
      <p>introduction</p>
      <%= f.text_area :introduction %>
      <button class = 'btn btn-secondary'><%= f.submit 'Create book' %></button>
      <% end %>
    </div>
  </div>
</div>